#hi body {
	font-family: system-ui;
}

#hi img {
	filter: blur(20px) grayscale(1);
}

#hi body * {
	font-family: inherit;
}

h1,
figcaption,
.teaser__premium-mark {
	display: none !important;
}

p {
	color: pink !important;
}
